node_modules
client/node_modules
merchant-client/node_modules
user-client/node_modules

client/dist
merchant-client/dist
user-client/dist
client/build
merchant-client/build
user-client/build

.git
.gitignore
.husky
.vscode
scripts
docker-compose.yml

*.log
.env
